db
incremental_db
output_files
*.cmp
*.txt
*.bak
work/
*.rpt
simulation/modelsim/rtl_work
simulation/modelsim/*.sft
simulation/modelsim/*.vo
simulation/modelsim/*.wlf
simulation/modelsim/msim_transcript
simulation/modelsim/*.mif
modelsim.ini
simulation/modelsim/*.xrf
simulation/modelsim/*.do.bak*